<a href="https://colab.research.google.com/github/IsSveshuD/AD_lab_2/blob/main/%D0%90%D0%942.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Отчёт по лабораторной работе №2: Введение в Pandas. Создание объекта Series в Pandas

Выполнил студент ИВТ-б-о-21-1: Лысенко Иван Александрович

In [2]:
import pandas as pd

1. Создал объект Series из списка чисел [1, 2, 3] с метками [a, b, c] и вывел
его на печать.

In [3]:
data = [1, 2, 3]
labels = ['a', 'b', 'c']
s = pd.Series(data, index=labels)

print(s)

a    1
b    2
c    3
dtype: int64

2. Создал объект Series из словаря {'a': 1, 'b': 2, 'c': 3} и вывел его на
печать

In [4]:
dict_d = {'a': 1, 'b': 2, 'c': 3}
s = pd.Series(dict_d)

print(s)

a    1
b    2
c    3
dtype: int64

3. Создал объект массива NumPy arr = [1, 2, 3, 4, 5] , затем из него создал
объект Series и вывел его на печать.

In [5]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])
s = pd.Series(arr)

print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

4. Создал объект Series с заполнением по умолчанию значением 0 и метками [a, b,
c] и вывел его на печать.

In [6]:
labels = ['a', 'b', 'c']
series_object = pd.Series(0, index=labels)

print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

5. В первой строке ввода с клавиатуры поступает строка с символами разлепленными
пробелом, во второй строка с целыми числами. На их основе создал список кортежей и из него объект Series, вывел его на печать.

In [10]:
in_chars = input("Введите символы через пробел: ")
chars_list = in_chars.split()

in_numb = input("Введите целые числа через пробел: ")
numbers_list = [int(num) for num in in_numb.split()]

#Создаём список кортежей
tuples = list(zip(chars_list, numbers_list))

#Создаём объект Series и выводим на печать
s = pd.Series(index=[t[0] for t in tuples], data=[t[1] for t in tuples])
print(s)

Введите символы через пробел: й ц у к
Введите целые числа через пробел: 1 2 3 4
й    1
ц    2
у    3
к    4
dtype: int64

6. На вход поступает строка слов, разделенных пробелом. Создал на ее основе
объект Series с метками 0, 1, 2,... Вывел его на печать.

In [11]:
in_str = input("Введите слова через пробел: ")
words = in_str.split()
s = pd.Series(words)
print(s)

Введите слова через пробел: кот мышь собака енот
0       кот
1      мышь
2    собака
3      енот
dtype: object

7. На вход поступает последовательность из чисел 0 и 1, разделенных пробелом.
Создал на ее основе объект Series, содержащий булевы значения True (1) , False
(0) c метками [a, b, c, d,...]

In [12]:
in_str = input("Введите последовательность чисел 0 и 1 через пробел: ")
numbers_list = [int(num) for num in in_str.split()]
bool_s = pd.Series(numbers_list, dtype=bool)
bool_s.index = [chr(ord('a') + i) for i in range(len(bool_s))]
print(bool_s)

Введите последовательность чисел 0 и 1, разделенных пробелом: 0 1 1 0
a    False
b     True
c     True
d    False
dtype: bool

8. Создал объект Series из списка дат ['2022-01-01', '2022-01-02', '2022-01-03'] , вывел его на печать.

In [13]:
from datetime import datetime

date_s = ['2022-01-01', '2022-01-02', '2022-01-03']

# Преобразуем в объекты datetime
date_obj = [datetime.strptime(date, '%Y-%m-%d') for date in date_s]

# Создаем объект Series
date_series = pd.Series(date_obj)
print(date_series)

0   2022-01-01
1   2022-01-02
2   2022-01-03
dtype: datetime64[ns]

9. На вход подаются два целых числа n и m через пробел. На их основе создал
объект Series с числами от n до m (включительно) с шагом 10 и метками [1, 3, 5,
7,...] . Вывел его на печать.

In [19]:
n, m = map(int, input("Введите два целых числа n и m через пробел: ").split())

# Создаем объект Series с числами от n до m (включительно) с шагом 10 и метками [1, 3, 5, 7, ...]
series_object = pd.Series(range(n, m + 1, 10), index=range(1, ((m - n) // 10) * 2 + 2, 2))

# Выводим объект Series на печать
print(series_object)

Введите два целых числа n и m через пробел: 5 30
1     5
3    15
5    25
dtype: int64

### Индивидуальное задание
Самостоятельно придумайте и решите задачу, где использовался бы объект Series
библиотеки Pandas. Приведите решение в виде исполняемого модуля на языке
программирования Python.


Есть датасет с информацией о продажах продуктов различных категорий в магазинах нескольких городов. Задача - выяснить, какая категория продуктов является самой продаваемой в каждом городе.

In [24]:

#Подгрузим датасет
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/supermarket_sales.csv')
sales_dataset = pd.DataFrame(df)
print(sales_dataset)

# Создадим объект Series с суммами продаж для каждой категории товаров в каждом городе
sales_series = sales_dataset.groupby(['City', 'Product line'])['Total'].sum()

# Находим индекс с максимальным значением (суммой продаж) в каждом городе
max_sum = sales_series.groupby('City').idxmax()

# Выводим результат на печать
print("\nСамая продаваемая категории товаров в магазинах каждого города:")
print(max_sum)

      Invoice ID Branch       City Customer type  Gender  \
0    750-67-8428      A     Yangon        Member  Female
1    226-31-3081      C  Naypyitaw        Normal  Female
2    631-41-3108      A     Yangon        Normal    Male
3    123-19-1176      A     Yangon        Member    Male
4    373-73-7910      A     Yangon        Normal    Male
..           ...    ...        ...           ...     ...
995  233-67-5758      C  Naypyitaw        Normal    Male
996  303-96-2227      B   Mandalay        Normal  Female
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      A     Yangon        Normal    Male
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity   Tax 5%      Total  \
0         Health and beauty       74.69         7  26.1415   548.9715
1    Electronic accessories       15.28         5   3.8200    80.2200
2        Home and lifestyle       46.33         7  16.2155   340.5255
3         Health and beauty       58.22         8  23.2880   489.0480
4         Sports and travel       86.31         7  30.2085   634.3785
..                      ...         ...       ...      ...        ...
995       Health and beauty       40.35         1   2.0175    42.3675
996      Home and lifestyle       97.38        10  48.6900  1022.4900
997      Food and beverages       31.84         1   1.5920    33.4320
998      Home and lifestyle       65.82         1   3.2910    69.1110
999     Fashion accessories       88.34         7  30.9190   649.2990

          Date   Time      Payment    cogs  gross margin percentage  \
0     1/5/2019  13:08      Ewallet  522.83                 4.761905
1     3/8/2019  10:29         Cash   76.40                 4.761905
2     3/3/2019  13:23  Credit card  324.31                 4.761905
3    1/27/2019  20:33      Ewallet  465.76                 4.761905
4     2/8/2019  10:37      Ewallet  604.17                 4.761905
..         ...    ...          ...     ...                      ...
995  1/29/2019  13:46      Ewallet   40.35                 4.761905
996   3/2/2019  17:16      Ewallet  973.80                 4.761905
997   2/9/2019  13:22         Cash   31.84                 4.761905
998  2/22/2019  15:33         Cash   65.82                 4.761905
999  2/18/2019  13:28         Cash  618.38                 4.761905

     gross income  Rating
0         26.1415     9.1
1          3.8200     9.6
2         16.2155     7.4
3         23.2880     8.4
4         30.2085     5.3
..            ...     ...
995        2.0175     6.2
996       48.6900     4.4
997        1.5920     7.7
998        3.2910     4.1
999       30.9190     6.6

[1000 rows x 17 columns]

Самая продаваемая категории товаров в магазинах каждого города:
City
Mandalay       (Mandalay, Sports and travel)
Naypyitaw    (Naypyitaw, Food and beverages)
Yangon          (Yangon, Home and lifestyle)
Name: Total, dtype: object